
.FooterEndBtnDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
}

.FooterEndBtnDiv span{
    color: rgba(0, 0, 0, 0.678);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: smaller;
}

.BtnImg{
    height: 8vh;
}

.BtnImg:hover{
    cursor: pointer;
}